.chuyenmuc-myinfo-container{
  .table-instruction{
    margin-top: 10px;
  }
}
.action-dv{
  display: flex;
  flex-direction: row;
  margin-left: 10px;
}
.formCreateChuyenMuc{
  .btn-submit-actions{
    margin-top: 10px;
    display: flex;
    justify-content: center;
  }
}
