.avatar-comment{
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.list-show-comment-item{
  display: flex;
  gap: 8px;
  flex-direction: column;
}
.show-content-comment{
  color: black;
}
.name-user{
  font-weight: bold;
  color: black;
}
