.home-page-container {
  height: calc(100vh - 122px);
  h1{
    height: auto;
  }
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
